# Dependency Review Action
#
# This Action will scan dependency manifest files that change as part of a Pull Request, surfacing known-vulnerable versions of the packages declared or updated in the PR. Once installed, if the workflow run is marked as required, PRs introducing known-vulnerable packages will be blocked from merging.
#
# Source repository: https://github.com/actions/dependency-review-action
# Public documentation: https://docs.github.com/en/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review#dependency-review-enforcement
name: 'Dependency Review'
on: [pull_request]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v3
      - name: 'Dependency Review'
        id: dependency_review
        uses: actions/dependency-review-action@v1
      - name: Write status
        if: always()
        uses: ouzi-dev/commit-status-updater@v1.1.0
        with:
          status: ${{ steps.dependency-review.conclusion }}
          name: "${{ github.workflow }}"
          url: 'https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}'
          description: "Dependency review on code"
          token: ${{secrets.GITHUB_TOKEN}}
          ignoreForks: false
