# This is a basic workflow to help you get started with Actions

name: Security Status Monitoring

# Controls when the workflow will run
on:
  # Trigger on workflow run


  workflow_run : 
    workflows : ["CI", "Set test status"]
    types : [ completed]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  update_db:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: ESLE-Org/security-status-monitoring-action@v1.0.0
        with:
          githubToken: ${{secrets.GITHUB_TOKEN}}
          db_endpoint: ${{secrets.COSMOS_DB_BASE_URL}}
          db_key: ${{secrets.COSMOS_DB_PRIMARY_KEY}}

